* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #4BB0FE;
}

.nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo img {
    height: 50px;
    margin-right: 15px;
}

.text h1 {
    font-size: 20px;
    color: #333;
    margin: 0;
}

.text p {
    font-size: 14px;
    color: #666;
    margin: 0;
    font-variant: small-caps;

}

.text {
    display: flex;
    flex-direction: column;
}

.container {
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #fff;
    border-radius: 10px;
    transform: translate(-50%, -50%);

}

.container p {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
}

.container input {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
}

.container button {
    width: 100%;
    height: 50px;
    background-color: #4BB0FE;
    color: #fff;
    border: 0;
    outline: 0;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
    font-weight: 500;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

input.error {
    border: 2px solid rgb(255, 0, 0);
    animation: shake 0.3s ease;
}

.imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.qr-code {
    max-width: 100%;
    height: auto;
    animation: fadeIn 0.5s ease-in-out;
}